<p>
	<strong>Project Name:</strong>
	<%= @project.projectname %>
</p>

<p>
	<strong>Teamleader:</strong>
	<%= @project.teamleader %>
</p>

<p>
	<strong>Client:</strong>
	<%= @project.client %>
</p>

<%= link_to 'Back', projects_path,  :class=>"has-tip" %>
